[Unit]
Description=OrniNet YoloV5
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/python3 -u orninet_detect.py
WorkingDirectory=/home/dd/source/orninet-yolov5/yolov5