[Unit]
Description=OrniNet YoloV5
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStart=/usr/bin/python3 /home/dd/source/orninet-yolov5/yolov5/orninet_detect.py